<!DOCTYPE html>
<html>
    <head>
        <title>Phased</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="glow"></div>
            <div class="content">
                <h1>Let's get to know you</h1>
                <div>
                    <h2>What's your name?</h2>
                    <input type="text" id="name" name="name" placeholder="Enter Your Name">
                </div>
                <div>
                    <h2>How old are you?</h2>
                    <input type="number" id="age" name="age" placeholder="Enter Your Age">
                </div>
                <div>
                    <h2>What is your height?</h2>
                    <input type="number" id="height" name="height" placeholder="Enter Your Height">
                    <select name="height_unit" id="height_unit">
                        <option value="cm">cm</option>
                        <option value="inches">inches</option>
                    </select>
                </div>
                <div>
                    <h2>What is your current weight?</h2>
                    <input type="number" id="weight" name="weight" placeholder="Enter Your Weight">
                    <select name="weight_unit" id="weight_unit">
                        <option value="kg">kg</option>
                        <option value="lbs">lbs</option>
                    </select>
                </div>
                <a href="/onboard2"><button>Next</button></a>
            </div>
        </div>

        
    </body>
</html>