<!DOCTYPE html>
<html>
    <head>
        <title>Phased</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="glow"></div>
            <div class="content">
                <h1>Happy to have you!</h1>
                <div>
                    <input type="username" id="username" name="username" placeholder="Create a username">
                </div>
                <div>
                    <input type="email" id="email" name="email" placeholder="Enter your email">
                </div>
                <div>
                    <input type="password" id="password" name="password" placeholder="Enter your password">
                </div>
                <button>Sign Up</button>
                <a href="/login"><p>Already have an account? Login!</p></a>
            </div>
        </div>
    </body>
</html>